<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image-Recognition</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <img src="{{ url_for('video_feed') }}" id="video">
    <div id="main-container">
		<div id="caption-container">
			<p id="caption-paragraph"></p>
		</div>
		<div id="prompt-container">
			<input type="text" placeholder="Ask Anything About the Picture">
			<button id="generate-caption-btn">Generate Caption</button>
		</div>
	</div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
